/* Colors:
Grain: #D7CEC7  
Blackboard: #565656
Oxblood: #76323F
Tan: #C09F80
Off-White: #F8F0E3
*/

*{
    padding: 0;
    margin: 0;
}

body{
    background-image: url(images/minimalforest.jpg);
    background-size: cover;
}

/* Creating the dropdown menu for the website */
.menu-bar{
    width: 100%;
    height: 60px;
    background-color: #565656;
}

.menu-bar p{
    font-family: Arial, Helvetica, sans-serif;
    color: #222;
    font-size: 24px;
    line-height: 55px;
}

.menu-bar ul {
    float: left;
}

.menu-bar ul li {
    float: left;
    list-style: none;
}

